body {
    background-image: url(img/imagem\ de\ fundo.jpg);          
}

h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.Barra-de-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Barra-de-pesquisa input,
.Barra-de-pesquisa button{
    padding: 10px;
    border-radius: 10px;
    margin-left:  10px;
    color: rgb(255, 255, 255);
    background-color: rgb(72, 70, 70);
    border-color: rgb(255, 255, 255);
}

footer{   
    padding-top: 370px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
